<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'none'; style-src 'self'; img-src 'self'; media-src 'self'; font-src 'self'; frame-src https://docs.google.com/">
    <meta name="description" content="Move Removals">
    <meta name="theme-color" content="#005f00">
    <meta name="msapplication-navbutton-color" content="#005f00">
    <meta name="apple-mobile-web-app-status-bar-style" content="#005f00">

    <title>Move Removals - {{ title }}</title>

    <link rel="icon" type="image/png" href="/images/move_logo.png" />

    <link rel="stylesheet" href="style.css?v={{ version }}">

    {{#> page-head }}{{/page-head}}

</head>

<body>
    <div class="mnh-100 flex-col">

        {{> header}}

        <main class="p-1 fc-light container mx-auto w-100 flex-grow flex-row flex-wrap items-center justify-space-between lg-justify-center">

            {{#> main-block}}{{/main-block}}

        </main>

        {{> footer}}

        </div>

    </body>

</html>