<header>
<div class="container mx-auto w-100 flex-row flex-wrap fc-light text-left center md-justify-space-between">

    {{> picture
        id="logo"
        title="Move Removals"
        alt="The word Move stylized, looking swish"
        file="/images/move_logo"
        ext="png"
        type="png"
        width="600"
        height="600"
    }}

    {{> nav}}

</div>
</header>