<div class="point">
    {{> picture title=title alt=title file=icon ext="svg" type="svg" nowebp=1}}
    <div class="point-inner">
        <span class="point-title">{{ title }}</span>
        <div class="point-body">{{ body }}</div>
    </div>
</div>