{{#> base title="Contact Us" currentPath="/Contact" }}

{{#*inline "main-block"}}

<article class="w-100 mb-auto">

    <h1 class="fc-primary">{{> tbo }} Contact Us {{> tbc }}</h1>

    <section>
        <p>
            You can get in touch with our team via phone, email or fill out the form below and we'll get back to you.
        </p>
        <p>
            <a href="tel:01613303300">
                <span class="fc-primary">Tel: </span>0161 330 3300
            </a>
            <br>
            <a href="mailto:enquiries@moveremovals.co.uk">
                <span class="fc-primary">Email: </span>enquiries@moveremovals.co.uk
            </a>
        </p>
    </section>

    <iframe
        class="w-100"
        src="https://docs.google.com/forms/d/e/1FAIpQLSehn5ho-MbDcSJtzaMDkTSYFVWcNcanx116oXeVJu4cVcF-tw/viewform?embedded=true"
        width="640" height="812" frameborder="0" marginheight="0" marginwidth="0">
        Loading…
    </iframe>

</article>

{{/inline}}

{{/base}}