{{#> base title="Contact Us" currentPath="/Contact" }}

{{#*inline "main-block"}}

<article class="w-100 mb-auto">

<h2 class="fc-primary">{{> tbo }} Contact Us {{> tbc }}</h2>

<p>
    For all enquiries, give us a call on: <a href="tel:01613303300">0161 330 3300</a>, email <a href="mailto:enquiries@moveremovals.co.uk"> enquiries@moveremovals.co.uk</a>
    or fill out the form below and we'll get back to you.
</p>

<iframe
    class="w-100"
    src="https://docs.google.com/forms/d/e/1FAIpQLSehn5ho-MbDcSJtzaMDkTSYFVWcNcanx116oXeVJu4cVcF-tw/viewform?embedded=true"
    width="640" height="812" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

</article>

{{/inline}}

{{/base}}