#navContainer {
    width: 100%;
}
.point {
    display: flex;
    background-color: #FFFFFF55;
}
.point picture img {
    width: 50px;
    height: 50px;
    border: solid var(--primary) 1px;
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0.5rem;
}
@media only screen and (min-width: 600px) {
    #logo {
        display: none;
    }
    #heroImg {
        display: block;
        width: calc(50% - 2rem);
        height: auto;
        object-fit: contain;
        max-width: 500px;
        max-height: 500px;
    }
    #heroImg img {
        border-radius: 1rem;
        opacity: 0.9;
    }
    #logoLarge {
        width: calc(50% - 2rem);
        height: calc(50% - 2rem);
        max-width: 500px;
        max-height: 500px;
        display: block;
    }
}